apiVersion: apps/v1
kind: Deployment
metadata:
  name: ibm-ingress-nginx-operator
spec:
  replicas: 1
  selector:
    matchLabels:
      name: ibm-ingress-nginx-operator
  template:
    metadata:
      labels:
        name: ibm-ingress-nginx-operator
        app.kubernetes.io/managed-by: ""
        app.kubernetes.io/name: "ibm-ingress-nginx-operator"
      annotations:
        productName: "IBM Cloud Platform Common Services"
        productID: "068a62892a1e4db39641342e592daa25"
        productMetric: "FREE"
    spec:
      serviceAccountName: ibm-ingress-nginx-operator
      containers:
        - name: ibm-ingress-nginx-operator
          image: quay.io/opencloudio/ibm-ingress-nginx-operator:latest
          imagePullPolicy: Always
          resources:
            limits:
              cpu: 50m
              memory: 128Mi
            requests:
              cpu: 20m
              memory: 64Mi
          env:
            - name: WATCH_NAMESPACE
              valueFrom:
                fieldRef:
                  fieldPath: metadata.namespace
            - name: POD_NAME
              valueFrom:
                fieldRef:
                  fieldPath: metadata.name
            - name: OPERATOR_NAME
              value: "ibm-ingress-nginx-operator"
            - name: INGRESS_IMAGE_DIGEST
              value: "quay.io/opencloudio/nginx-ingress-controller@sha256:7818d00fda114c2753082100c708415c8b7e0ae5c7793401885a5c17c1bf3664"
            - name: DEFAULT_BACKEND_IMAGE_DIGEST
              value: "quay.io/opencloudio/default-http-backend@sha256:1f79d79eb77637b964a3d3b6c25659ce083e2c86da6825c6aceafcff17d6b23e"
            - name: KUBECTL_IMAGE_DIGEST
              value: "quay.io/opencloudio/kubectl@sha256:c5ee37c2dd2f34c155faabc88f7b4e4d79646f8947ef6517fcb8c78ddf143356"
