apiVersion: apps/v1
kind: Deployment
metadata:
  name: ibm-ingress-nginx-operator
spec:
  replicas: 1
  selector:
    matchLabels:
      name: ibm-ingress-nginx-operator
  template:
    metadata:
      labels:
        name: ibm-ingress-nginx-operator
        app.kubernetes.io/managed-by: ""
        app.kubernetes.io/name: "ibm-ingress-nginx-operator"
      annotations:
        productName: "IBM Cloud Platform Common Services"
        productID: "068a62892a1e4db39641342e592daa25"
        productVersion: "3.4.0"
        productMetric: "FREE"
    spec:
      serviceAccountName: ibm-ingress-nginx-operator
      containers:
        - name: ibm-ingress-nginx-operator
          image: quay.io/opencloudio/ibm-ingress-nginx-operator:latest
          imagePullPolicy: Always
          resources:
            limits:
              cpu: 50m
              memory: 128Mi
            requests:
              cpu: 20m
              memory: 64Mi
          env:
            - name: WATCH_NAMESPACE
              valueFrom:
                fieldRef:
                  fieldPath: metadata.namespace
            - name: POD_NAME
              valueFrom:
                fieldRef:
                  fieldPath: metadata.name
            - name: OPERATOR_NAME
              value: "ibm-ingress-nginx-operator"
